*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
  line-height: normal;
  font-style: normal;
  font-family: "Roboto", sans-serif; }

.wrapper {
  width: 100%;
  max-width: 37.5rem;
  display: flex;
  flex-direction: column; }

.header .header_logo_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 6.3rem;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15); }
  .header .header_logo_box .header_arrow {
    font-size: 3rem;
    display: none; }
  .header .header_logo_box .header_logo_link {
    display: inline-block;
    width: 16.2rem;
    height: 3.6rem; }
    .header .header_logo_box .header_logo_link .header_logo_img {
      width: 100%;
      height: 100%; }

.header .header_location {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  background-color: #EAEAEA;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-top: .3rem; }
  .header .header_location .header_icon_location {
    font-size: 1.6rem; }
  .header .header_location .header_text_location {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    color: #353535; }

.explore_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 28.7rem;
  text-align: center; }
  .explore_section .title_explore {
    font-size: 2.4rem;
    font-weight: 700;
    color: #000000; }
  .explore_section .sub_title_explore {
    color: #353535;
    font-size: 1.8rem;
    font-weight: 300; }
  .explore_section .explore_btn {
    border: none;
    width: 100%;
    max-width: 21.8rem;
    height: 5rem;
    border-radius: 2.5rem;
    background: linear-gradient(to top, #9356DC, #FF79DA);
    box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 500; }

.info_section {
  height: 44rem;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 3rem;
  gap: 2.6rem; }
  .info_section .title_info {
    color: #000000;
    font-weight: 700;
    font-size: 2.4rem;
    padding-top: 4.6rem; }
  .info_section .info_box {
    display: flex;
    flex-direction: column;
    gap: 2.5rem; }
    .info_section .info_box .info_card {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 3rem;
      height: 7.24rem;
      width: 100%;
      max-width: 32.2rem;
      border-radius: 2rem;
      background-color: #F6F6F6;
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
      .info_section .info_box .info_card .icon_number {
        font-size: 1.4rem;
        font-weight: 500;
        background-color: #9356DC;
        color: #FFFFFF;
        border-radius: 50rem;
        padding: 1.3rem;
        display: flex;
        width: 1.5rem;
        height: 1.5rem;
        justify-content: center;
        align-items: center; }
      .info_section .info_box .info_card .icon_deco {
        font-size: 1.56rem;
        color: #7E7E7E; }
      .info_section .info_box .info_card .info_text {
        font-size: 1.6rem;
        font-weight: 500; }
      .info_section .info_box .info_card .position_element {
        transform: translateX(-1.2rem); }

.restaurant_section {
  display: flex;
  flex-direction: column;
  padding: 5.4rem 2rem 6.6rem 2rem;
  gap: 1.8rem; }
  .restaurant_section .title_info {
    font-size: 2.4rem;
    font-weight: 700;
    color: #000000; }
  .restaurant_section .restaurant_box {
    display: flex;
    flex-direction: column;
    gap: 1.8rem; }
    .restaurant_section .restaurant_box .restaurant_card .restaurant_link {
      text-decoration: none; }
      .restaurant_section .restaurant_box .restaurant_card .restaurant_link .img_restaurant_box {
        width: 100%;
        max-width: 34rem;
        height: 17.4rem; }
        .restaurant_section .restaurant_box .restaurant_card .restaurant_link .img_restaurant_box .img_restaurant {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 1.5rem 1.5rem 0 0; }
      .restaurant_section .restaurant_box .restaurant_card .restaurant_link .restaurant_description {
        background-color: #FFFFFF;
        border-radius: 0  0 1.5rem 1.5rem;
        height: 7.7rem;
        display: flex;
        justify-content: space-between; }
        .restaurant_section .restaurant_box .restaurant_card .restaurant_link .restaurant_description .description_box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 1.3rem; }
        .restaurant_section .restaurant_box .restaurant_card .restaurant_link .restaurant_description .main_title_restaurant {
          font-size: 1.8rem;
          font-weight: 700;
          color: #000000;
          text-decoration-line: none;
          text-decoration-style: unset;
          text-decoration-thickness: unset;
          text-decoration: none; }
        .restaurant_section .restaurant_box .restaurant_card .restaurant_link .restaurant_description .sub_title_restaurant {
          font-size: 1.7rem;
          font-weight: 300;
          color: #000000;
          padding-top: .3rem; }
        .restaurant_section .restaurant_box .restaurant_card .restaurant_link .restaurant_description .icon_like_box .icon_like {
          transform: translateX(-2.5rem) translateY(2.1rem); }
          .restaurant_section .restaurant_box .restaurant_card .restaurant_link .restaurant_description .icon_like_box .icon_like::before {
            font-size: 2.2rem;
            color: #101010; }

.footer {
  background-color: #353535;
  padding: 2.2rem 2.5rem 2.2rem 2.5rem; }
  .footer .footer_logo_box {
    margin-bottom: 1.6rem; }
  .footer .footer_link_box li {
    list-style: none;
    margin-bottom: .7rem; }
  .footer .footer_link_box .link_footer {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 400; }
  .footer .footer_link_box .link_footer_logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500; }
