*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  line-height: normal;
  font-style: normal;
  font-family: "Roboto", sans-serif; }

.wrapper {
  width: 100%;
  max-width: 37.5rem;
  display: flex;
  flex-direction: column; }
  .wrapper .load_div {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10000;
    animation: fadeOutDisplay 1s ease 3s forwards;
    background-color: rgba(255, 255, 255, 0.5); }

@keyframes fadeOutDisplay {
  0% {
    display: block; }
  100% {
    display: none; } }
    .wrapper .load_div .loader {
      width: 100px;
      height: 100px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 10px solid #9356dc;
      border-top: 10px solid #ff79d9;
      border-radius: 50%;
      animation: spin 1s linear infinite, fadeOut 1s ease 3s forwards;
      opacity: 1;
      z-index: 9999; }

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.header .header_logo_home {
  justify-content: center; }

.header .header_logo_box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6.3rem;
  background-color: #FFFFFF;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.15);
  gap: 7.2rem; }
  .header .header_logo_box .link_arrow {
    margin-left: 1rem; }
  .header .header_logo_box .header_arrow_home {
    font-size: 3rem;
    display: none; }
  .header .header_logo_box .header_arrow {
    display: block; }
  .header .header_logo_box .header_arrow::before {
    font-size: 3rem; }
  .header .header_logo_box .header_logo_link {
    display: inline-block;
    width: 16.2rem;
    height: 3.6rem; }
    .header .header_logo_box .header_logo_link .header_logo_img {
      width: 100%;
      height: 100%; }

.header_location {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  background-color: #EAEAEA;
  box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.25);
  margin: .2rem 0 .2rem 0; }
  .header_location .header_icon_location {
    font-size: 1.6rem; }
  .header_location .header_text_location {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    color: #353535; }

.img_box_hero {
  width: 100%;
  max-width: 37.5rem;
  height: 27.5rem; }
  .img_box_hero .img_restaurant {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.explore_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 28.7rem;
  text-align: center;
  background-color: #F6F6F6; }
  .explore_section .title_explore {
    font-size: 2.4rem;
    font-weight: 700;
    color: #000000; }
  .explore_section .sub_title_explore {
    color: #353535;
    font-size: 1.8rem;
    font-weight: 300; }
  .explore_section .explore_btn {
    border: none;
    width: 100%;
    max-width: 21.8rem;
    height: 5rem;
    border-radius: 2.5rem;
    background: linear-gradient(to top, #9356dc, #ff79d9);
    box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 500;
    transition: box-shadow .3s ease; }
  .explore_section .explore_btn:hover {
    box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(to top, rgba(147, 86, 220, 0.8), rgba(255, 121, 217, 0.8)); }

.info_section {
  height: 44rem;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 3rem;
  gap: 2.6rem; }
  .info_section .title_info {
    color: #000000;
    font-weight: 700;
    font-size: 2.4rem;
    padding-top: 4.6rem; }
  .info_section .info_box {
    display: flex;
    flex-direction: column;
    gap: 2.5rem; }
    .info_section .info_box .info_card {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 3rem;
      height: 7.24rem;
      width: 100%;
      max-width: 32.2rem;
      border-radius: 2rem;
      background-color: #F6F6F6;
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
      .info_section .info_box .info_card .icon_number {
        font-size: 1.4rem;
        font-weight: 500;
        background-color: #9356dc;
        color: #FFFFFF;
        border-radius: 50rem;
        padding: 1.3rem;
        display: flex;
        width: 1.5rem;
        height: 1.5rem;
        justify-content: center;
        align-items: center; }
      .info_section .info_box .info_card .icon_deco {
        font-size: 1.56rem;
        color: #7d7d7d; }
        .info_section .info_box .info_card .icon_deco:hover {
          color: #9356dc; }
      .info_section .info_box .info_card .info_text {
        font-size: 1.6rem;
        font-weight: 500; }
      .info_section .info_box .info_card .position_element {
        transform: translateX(-1.2rem); }

.restaurant_section {
  display: flex;
  flex-direction: column;
  padding: 5.4rem 2rem 6.6rem 2rem;
  gap: 1.8rem;
  background-color: #F6F6F6; }
  .restaurant_section .title_info {
    font-size: 2.4rem;
    font-weight: 700;
    color: #000000; }
  .restaurant_section .restaurant_box {
    display: flex;
    flex-direction: column;
    gap: 1.8rem; }
    .restaurant_section .restaurant_box .restaurant_card .restaurant_link {
      text-decoration: none; }
      .restaurant_section .restaurant_box .restaurant_card .restaurant_link .img_restaurant_box {
        width: 100%;
        max-width: 34rem;
        height: 17.4rem;
        display: flex;
        position: relative; }
        .restaurant_section .restaurant_box .restaurant_card .restaurant_link .img_restaurant_box .img_restaurant {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 1.5rem 1.5rem 0 0; }
        .restaurant_section .restaurant_box .restaurant_card .restaurant_link .img_restaurant_box .new {
          font-size: 1.4rem;
          font-weight: 500;
          color: #008766;
          border-radius: 2px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
          background-color: #99E2D0;
          width: 8rem;
          height: 2.9rem;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 1rem;
          right: 1rem; }
      .restaurant_section .restaurant_box .restaurant_card .restaurant_link .restaurant_description {
        background-color: #FFFFFF;
        border-radius: 0  0 1.5rem 1.5rem;
        height: 7.7rem;
        display: flex;
        justify-content: space-between; }
        .restaurant_section .restaurant_box .restaurant_card .restaurant_link .restaurant_description .description_box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 1.3rem; }
        .restaurant_section .restaurant_box .restaurant_card .restaurant_link .restaurant_description .main_title_restaurant {
          font-size: 1.8rem;
          font-weight: 700;
          color: #000000;
          text-decoration-line: none;
          text-decoration-style: unset;
          text-decoration-thickness: unset;
          text-decoration: none; }
        .restaurant_section .restaurant_box .restaurant_card .restaurant_link .restaurant_description .sub_title_restaurant {
          font-size: 1.7rem;
          font-weight: 300;
          color: #000000;
          padding-top: .3rem; }
        .restaurant_section .restaurant_box .restaurant_card .restaurant_link .restaurant_description .icon_like_box {
          background: center no-repeat url(../img/icons/empty-like.svg);
          height: 2.1rem;
          width: 2.2rem;
          align-self: center;
          transition: background 250ms;
          margin: 0 2rem 1rem 0; }
          .restaurant_section .restaurant_box .restaurant_card .restaurant_link .restaurant_description .icon_like_box:hover {
            background: center no-repeat url(../img/icons/solid-like.svg); }

.footer {
  background-color: #353535;
  padding: 2.2rem 2.5rem 2.2rem 2.5rem; }
  .footer .footer_logo_box {
    margin-bottom: 1.6rem; }
  .footer .footer_link_box li {
    list-style: none;
    margin-bottom: .7rem; }
  .footer .footer_link_box .link_footer {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 400; }
    .footer .footer_link_box .link_footer .icon_footer::before {
      font-size: 1.1rem; }
  .footer .footer_link_box .link_footer_logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500; }

.main_restaurant {
  background-color: #F6F6F6; }
  .main_restaurant .restaurant_menu_section {
    padding: 1.3rem;
    transform: translateY(-5.2rem);
    background-color: #F6F6F6;
    border-radius: 3.5rem 3.5rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem; }
    .main_restaurant .restaurant_menu_section .box_title_restaurant {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2.5rem 0 0 0; }
      .main_restaurant .restaurant_menu_section .box_title_restaurant .restaurant_title {
        font-family: "Shrikhand", sans-serif;
        font-size: 2.8rem;
        font-weight: 400; }
      .main_restaurant .restaurant_menu_section .box_title_restaurant .icon_like_box_rest {
        background: center no-repeat url(../img/icons/empty-like.svg);
        height: 2.1rem;
        width: 2.2rem;
        align-self: center;
        transition: background 250ms;
        margin: 0 2rem 1rem 0;
        cursor: pointer; }
        .main_restaurant .restaurant_menu_section .box_title_restaurant .icon_like_box_rest:hover {
          background: center no-repeat url(../img/icons/solid-like.svg); }
      .main_restaurant .restaurant_menu_section .box_title_restaurant .icon_like {
        font-size: 2.2rem; }
      .main_restaurant .restaurant_menu_section .box_title_restaurant .icon_like_box_rest {
        margin: 0 2.5rem 0 0; }
    .main_restaurant .restaurant_menu_section .menu_article {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      opacity: 0; }
      .main_restaurant .restaurant_menu_section .menu_article .title_menu {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 300;
        height: 2.7rem; }
      .main_restaurant .restaurant_menu_section .menu_article .begin_title {
        border-bottom: 3px solid #99E2D0;
        padding-bottom: .6rem; }
      .main_restaurant .restaurant_menu_section .menu_article .card_menu_link {
        text-decoration: none;
        color: #000000;
        display: flex;
        align-items: center;
        box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
        border-radius: 1.5rem;
        position: relative;
        overflow: hidden;
        background-color: #FFFFFF; }
        .main_restaurant .restaurant_menu_section .menu_article .card_menu_link:hover .add_link {
          opacity: 1;
          display: block;
          right: 0px; }
      .main_restaurant .restaurant_menu_section .menu_article .card_menu {
        padding: 1.2rem;
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF;
        width: 349px;
        transition: width 1s ease;
        background-color: #FFFFFF;
        overflow: hidden; }
        .main_restaurant .restaurant_menu_section .menu_article .card_menu:hover {
          width: 82.53%;
          border-radius: 1.5rem 0 0 1.5rem; }
        .main_restaurant .restaurant_menu_section .menu_article .card_menu .add_link {
          top: 0;
          right: -60px;
          position: absolute;
          transition: right 1s; }
        .main_restaurant .restaurant_menu_section .menu_article .card_menu .description_menu {
          overflow: hidden; }
          .main_restaurant .restaurant_menu_section .menu_article .card_menu .description_menu .title_card_menu {
            margin-bottom: .5rem;
            font-size: 1.8rem;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          .main_restaurant .restaurant_menu_section .menu_article .card_menu .description_menu .card_description {
            font-size: 1.5rem;
            font-weight: 300;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
        .main_restaurant .restaurant_menu_section .menu_article .card_menu .price_box {
          display: flex;
          align-items: flex-end; }
          .main_restaurant .restaurant_menu_section .menu_article .card_menu .price_box .price {
            font-size: 1.5rem;
            font-weight: 700; }
    .main_restaurant .restaurant_menu_section .menu_1 {
      animation: fadeIn 1s ease forwards; }
    .main_restaurant .restaurant_menu_section .menu_2 {
      animation: fadeIn 1s ease 2s forwards; }
    .main_restaurant .restaurant_menu_section .menu_3 {
      animation: fadeIn 1s ease 3s forwards; }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
    .main_restaurant .restaurant_menu_section .btn_command {
      border: none;
      width: 100%;
      max-width: 21.8rem;
      height: 5rem;
      border-radius: 2.5rem;
      background: linear-gradient(to top, #9356dc, #ff79d9);
      box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.25);
      color: #FFFFFF;
      font-size: 1.6rem;
      font-weight: 500;
      align-self: center;
      transition: box-shadow .3s ease; }
    .main_restaurant .restaurant_menu_section .btn_command:hover {
      box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.35);
      background-image: linear-gradient(to top, rgba(147, 86, 220, 0.8), rgba(255, 121, 217, 0.8)); }

@media only screen and (min-width: 1440px) {
  .wrapper {
    width: 100%;
    max-width: 144rem; }
    .wrapper .header_location {
      margin: 0; }
    .wrapper .img_box_hero {
      max-width: none; }
    .wrapper .header_logo_box {
      gap: 38rem; }
      .wrapper .header_logo_box .header_logo_rest {
        transform: translateX(170px); }
    .wrapper .explore_section .title_explore {
      font-size: 4rem; }
    .wrapper .info_section {
      height: fit-content;
      padding: 0 6rem 5rem 19.5rem; }
      .wrapper .info_section .info_box {
        flex-direction: row;
        padding-left: 1rem; }
    .wrapper .restaurant_section {
      padding-left: 5rem; }
      .wrapper .restaurant_section .title_info {
        padding-left: 13.5rem; }
      .wrapper .restaurant_section .restaurant_box {
        flex-direction: row;
        gap: 5rem 10rem;
        flex-wrap: wrap;
        justify-content: center; }
        .wrapper .restaurant_section .restaurant_box .restaurant_card {
          min-width: 46.2rem; }
          .wrapper .restaurant_section .restaurant_box .restaurant_card .restaurant_link {
            width: 49.8rem;
            display: inline-block; }
            .wrapper .restaurant_section .restaurant_box .restaurant_card .restaurant_link .img_restaurant_box {
              max-width: 49rem; }
    .wrapper .main_restaurant {
      display: flex;
      justify-content: center;
      background-color: #FFFFFF;
      flex-direction: column;
      align-items: center; }
      .wrapper .main_restaurant .restaurant_menu_section {
        width: 75%;
        margin-bottom: -5.1rem; }
        .wrapper .main_restaurant .restaurant_menu_section .box_title_restaurant {
          justify-content: center; }
        .wrapper .main_restaurant .restaurant_menu_section .icon_like_box_rest {
          margin-left: 3rem; }
        .wrapper .main_restaurant .restaurant_menu_section .menu_article {
          margin: 0 auto; }
          .wrapper .main_restaurant .restaurant_menu_section .menu_article .card_menu_link {
            position: relative;
            overflow: hidden;
            background-color: #ffffff; }
            .wrapper .main_restaurant .restaurant_menu_section .menu_article .card_menu_link:hover .add_link {
              opacity: 1;
              display: block;
              right: 0px; }
            .wrapper .main_restaurant .restaurant_menu_section .menu_article .card_menu_link .card_menu {
              width: 634.547px;
              transition: width 1s ease;
              background-color: #ffffff; }
              .wrapper .main_restaurant .restaurant_menu_section .menu_article .card_menu_link .card_menu:hover {
                width: 90.53%;
                border-radius: 1.5rem 0 0 1.5rem; }
            .wrapper .main_restaurant .restaurant_menu_section .menu_article .card_menu_link .add_link {
              top: 0;
              right: -60px;
              position: absolute;
              transition: right 1s; }
        .wrapper .main_restaurant .restaurant_menu_section .btn_command {
          margin-bottom: 3rem; }
    .wrapper .footer {
      display: flex;
      flex-direction: row-reverse;
      gap: 2rem;
      justify-content: end; }
      .wrapper .footer .footer_logo_box {
        margin-left: 6rem; }
      .wrapper .footer .footer_link_box {
        display: flex;
        gap: 2rem;
        align-items: center; }
        .wrapper .footer .footer_link_box .link_part {
          padding-right: 2rem; }
      .wrapper .footer .link_mention {
        margin-left: 2rem; } }
