$color-black: #000000;
$color-white: #FFFFFF;
$background-color-primary: #F6F6F6;
$background-color-secondary: #EAEAEA;
$grey-dark: #353535;
$grey-light: #7E7E7E;
$pink-lighter: #FF79DA;
$pink-darker: #9356DC;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: $background-color-primary;
    line-height: normal;
    font-style: normal;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 37.5rem;
    display: flex;
    flex-direction: column;
}

.header {
    .header_logo_box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 6.3rem;
        background-color: $color-white;
        box-shadow: 0 2px 4px 0 rgba($color-black, 0.15);
        padding-bottom: .5px;
    
        .header_arrow {
            font-size: 3rem;
            display: none;
        }
    
        .header_logo_link {
            display: inline-block;
            width: 16.2rem;
            height: 3.6rem;
    
            .header_logo_img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .header_location {
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.7rem;
        background-color: $background-color-secondary;
        box-shadow: 0 4px 4px 0 rgba($color-black, 0.25);

        .header_icon_location {
            font-size: 1.6rem;
        }

        .header_text_location {
            font-family: "Roboto", sans-serif;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;
            color: $grey-dark;
        }
    }
}

.explore_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 28.7rem;
    text-align: center;
    
    .title_explore {
        font-size: 2.4rem;
        font-weight: 700;
        color: $color-black;
    }

    .sub_title_explore {
        color: $grey-dark;
        font-size: 1.8rem;
        font-weight: 300;
    }

    .explore_btn {
        border: none;
        width: 100%;
        max-width: 21.8rem;
        height: 5rem;
        border-radius: 2.5rem;
        background: linear-gradient(to top, $pink-darker, $pink-lighter);
        box-shadow: 0 .4rem 1rem 0 rgba($color-black, 0.25);
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 500;
    }
}

.info_section {
    height: 44rem;
    width: 100%;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2.6rem;

    .title_info {
        color: $color-black;
        font-weight: 700;
        font-size: 2.4rem;
        padding-top: 4.6rem;
    }

    .info_box {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        .info_card {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 3rem;
            height: 7.24rem;
            width: 100%;
            max-width: 32.2rem;
            border-radius: 2rem;
            background-color: $background-color-primary;
            box-shadow: 0 4px 15px 0 rgba($color-black, 0.15);
            
            .icon_number {
                font-size: 1.4rem;
                font-weight: 500;
                background-color: $pink-darker;
                color: $color-white;
                border-radius: 50rem;
                padding: 1.3rem;
                display: flex;
                width: 1.5rem;
                height: 1.5rem;
                justify-content: center;
                align-items: center;
            }

            .icon_deco {
                font-size: 1.56rem;
                color: $grey-light;
            }

            .info_text {
                font-size: 1.6rem;
                font-weight: 500;
            }

            .position_element {
                transform: translateX(-1.2rem);
            }
        }
    }
}

.restaurant_section {
    .title_info {

    }

    .restaurant_box {
        .restaurant_card {
            .restaurant_link {
                .img_restaurant_box {
                    .img_restaurant {

                    }
                }

                .restaurant_description {
                    .main_title_restaurant {

                    }

                    .sub_title_restaurant {

                    }

                    .icon_like_box {
                        .icon_like {

                        }
                    }
                }
            }
        }
    }
}
