$color-black: #000000;
$color-white: #FFFFFF;
$background-color-primary: #F6F6F6;
$background-color-secondary: #EAEAEA;
$grey-dark: #353535;
$grey-light: #7d7d7d;
$pink-lighter: #ff79d9;
$pink-darker: #9356dc;
$color-border-menu: #99E2D0;
$color-linear-pink: linear-gradient(to top, rgba($pink-darker, .8), rgba($pink-lighter, 0.8));
$color-green-font: #008766;
$color-green-light: #99E2D0;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: $background-color-primary;
    line-height: normal;
    font-style: normal;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 37.5rem;
    display: flex;
    flex-direction: column;

    .load_div {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 10000;
        animation: fadeOutDisplay 1s ease 3s forwards;
        background-color: rgba($color: #FFFFFF, $alpha: 0.5);

        @keyframes fadeOutDisplay {
            0% { display: block; }
            100% { display: none; }
          }

        .loader {
            width: 100px;
            height: 100px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 10px solid $pink-darker;
            border-top: 10px solid $pink-lighter;
            border-radius: 50%;
            animation: spin 1s linear infinite, fadeOut 1s ease 3s forwards; 
            opacity: 1; 
            z-index: 9999;
        }


          @keyframes spin {
            0% { transform: translate(-50%, -50%) rotate(0deg); }
            100% { transform: translate(-50%, -50%) rotate(360deg); }
          }
          
          @keyframes fadeOut {
            0% { opacity: 1; }
            100% { opacity: 0; }
        }
    }
}

.header {
    .header_logo_box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 6.3rem;
        background-color: $color-white;
        box-shadow: 0 2px 4px 0 rgba($color-black, 0.15);
        
        .link_arrow {
            padding-left: 2rem;
            text-decoration: none;
        }
    
        .header_arrow_home {
            font-size: 3rem;
            display: none;
        }

        .header_arrow {
            display: block;
        }

        .header_arrow::before {
            font-size: 3rem;
        }
    
        .header_logo_link {
            display: inline-block;
            width: 16.2rem;
            height: 3.6rem;
            transform: translateX(58px);
    
            .header_logo_img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.header_location {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
    background-color: $background-color-secondary;
    box-shadow: 0 4px 4px 0 rgba($color-black, 0.25);
    margin-top: .3rem;

    .header_icon_location {
        font-size: 1.6rem;
    }

    .header_text_location {
        font-family: "Roboto", sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
        color: $grey-dark;
    }
}

.img_box_hero {
    width: 100%;
    max-width: 37.5rem;
    height: 27.5rem;

    .img_restaurant {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.explore_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 28.7rem;
    text-align: center;
    
    .title_explore {
        font-size: 2.4rem;
        font-weight: 700;
        color: $color-black;
    }

    .sub_title_explore {
        color: $grey-dark;
        font-size: 1.8rem;
        font-weight: 300;
    }

    .explore_btn {
        border: none;
        width: 100%;
        max-width: 21.8rem;
        height: 5rem;
        border-radius: 2.5rem;
        background: linear-gradient(to top, $pink-darker, $pink-lighter);
        box-shadow: 0 .4rem 1rem 0 rgba($color-black, 0.25);
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 500;
        transition: box-shadow .3s ease;
    }

    .explore_btn:hover {
        box-shadow: 0 .4rem 1rem 0 rgba($color-black, 0.35);
        background-image: linear-gradient(to top, rgba($pink-darker, .8), rgba($pink-lighter, 0.8));
    }
}

.info_section {
    height: 44rem;
    width: 100%;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    padding: 0 2rem 0 3rem;
    gap: 2.6rem;

    .title_info {
        color: $color-black;
        font-weight: 700;
        font-size: 2.4rem;
        padding-top: 4.6rem;
    }

    .info_box {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        .info_card {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 3rem;
            height: 7.24rem;
            width: 100%;
            max-width: 32.2rem;
            border-radius: 2rem;
            background-color: $background-color-primary;
            box-shadow: 0 4px 15px 0 rgba($color-black, 0.15);
            
            .icon_number {
                font-size: 1.4rem;
                font-weight: 500;
                background-color: $pink-darker;
                color: $color-white;
                border-radius: 50rem;
                padding: 1.3rem;
                display: flex;
                width: 1.5rem;
                height: 1.5rem;
                justify-content: center;
                align-items: center;
            }

            .icon_deco {
                font-size: 1.56rem;
                color: $grey-light;

                &:hover {
                    color: $pink-darker;
                }
            }

            .info_text {
                font-size: 1.6rem;
                font-weight: 500;
            }

            .position_element {
                transform: translateX(-1.2rem);
            }
        }
    }
}

.restaurant_section {
    display: flex;
    flex-direction: column;
    padding: 5.4rem 2rem 6.6rem 2rem;
    gap: 1.8rem;

    .title_info {
        font-size: 2.4rem;
        font-weight: 700;
        color: $color-black;
    }

    .restaurant_box {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;

        .restaurant_card {
            .restaurant_link {
                text-decoration: none;
                    
                .img_restaurant_box {
                    width: 100%;
                    max-width: 34rem;
                    height: 17.4rem;
                    display: flex;
                    position: relative;

                    .img_restaurant {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 1.5rem 1.5rem 0 0;
                    }

                    .new {
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: $color-green-font;
                        border-radius: 2px;
                        box-shadow: 0 2px 4px 0 rgba($color-black, 0.15);
                        background-color: $color-green-light;
                        width: 8rem;
                        height: 2.9rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                    }
                }

                .restaurant_description {
                    background-color: $color-white;
                    border-radius: 0  0 1.5rem 1.5rem;
                    height: 7.7rem;
                    display: flex;
                    justify-content: space-between;

                    .description_box {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding-left: 1.3rem;
                    }

                    .main_title_restaurant {
                        font-size: 1.8rem;
                        font-weight: 700;
                        color: $color-black;
                        text-decoration-line: none;
                        text-decoration-style: unset;
                        text-decoration-thickness:unset;
                        text-decoration: none;
                    }

                    .sub_title_restaurant {
                        font-size: 1.7rem;
                        font-weight: 300;
                        color: $color-black;
                        padding-top: .3rem;
                    }

                    .icon_like_box {
                        background: center no-repeat url(../img/icons/empty-like.svg);
                        height: 2.1rem;
                        width: 2.2rem;
                        align-self: center;
                        transition: background 250ms;
                        margin: 0 2rem 1rem 0;

                        &:hover {
                            background: center no-repeat url(../img/icons/solid-like.svg);
                        } 
                    }  
                }
            }
        }
    }
}

.footer {
    background-color: $grey-dark;
    padding: 2.2rem 2.5rem 2.2rem 2.5rem;
    
    .footer_logo_box {
        margin-bottom: 1.6rem;
    }

    .footer_link_box {
        li {
            list-style: none;
            margin-bottom: .7rem;
        }

        .link_footer {
            text-decoration: none;
            color: $color-white;
            font-size: 1.6rem;
            font-weight: 400;

            .icon_footer::before {
                font-size: 1.1rem;
            }
        }

        .link_footer_logo {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-weight: 500;
        }
    }
}

.restaurant_menu_section {
    padding: 1.3rem;
    transform: translateY(-5.2rem);
    background-color: $background-color-primary;
    border-radius: 3.5rem 3.5rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;

    .box_title_restaurant {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.5rem 0 0 0;

        .restaurant_title {
            font-family: "Shrikhand", sans-serif;
            font-size: 2.8rem;
            font-weight: 400;
        }

        .icon_like_box {
            background: center no-repeat url(../img/icons/empty-like.svg);
            height: 2.1rem;
            width: 2.2rem;
            align-self: center;
            transition: background 250ms;
            margin: 0 2rem 1rem 0;

            &:hover {
                background: center no-repeat url(../img/icons/solid-like.svg);
            } 
        }

        .icon_like {
            font-size: 2.2rem;
        }

        .icon_like_box_rest {
            margin: 0 2.5rem 0 0;
        }
    }
    

    .menu_article {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        margin-bottom: 2rem;
        opacity: 0;

        .title_menu {
            text-transform: uppercase;
        }

        .begin_title {
            border-bottom: 3px solid $color-border-menu;
        }

        .card_menu_link {
            text-decoration: none;
            color: $color-black;
        } 

        .card_menu {
            padding: 1.5rem;
            display: flex;
            justify-content: space-between;
            background-color: $color-white;
            box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
            border-radius: 1.5rem;

            .description_menu {
                
                .title_card_menu {
                    margin-bottom: .5rem;
                    font-size: 1.8rem;
                    font-weight: 500;
                }

                .card_description {
                    font-size: 1.5rem;
                    font-weight: 300;
                }
            }

            .price_box {
                display: flex;
                align-items: flex-end;

                .price {
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }

            .add_link {
                width: 5.9rem;
                height: 6.9rem;
                border-radius: 0 1.5rem 1.5rem 0;
                background-color: $color-green-light;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .menu_1 {
        animation: fadeIn 1s ease forwards; 
      }
      
      .menu_2 {
        animation: fadeIn 1s ease 2s forwards; 
      }
      
      .menu_3 {
        animation: fadeIn 1s ease 3s forwards; 
      }
      
      @keyframes fadeIn {
        from {
          opacity: 0; 
          transform: translateY(-20px); 
        }
        to {
          opacity: 1; 
          transform: translateY(0); 
        }
    }


    .btn_command {
        border: none;
        width: 100%;
        max-width: 21.8rem;
        height: 5rem;
        border-radius: 2.5rem;
        background: linear-gradient(to top, $pink-darker, $pink-lighter);
        box-shadow: 0 .4rem 1rem 0 rgba($color-black, 0.25);
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 500;
        align-self: center;
        transition: box-shadow .3s ease;
    }

    .btn_command:hover {
        box-shadow: 0 .4rem 1rem 0 rgba($color-black, 0.35);
        background-image: linear-gradient(to top, rgba($pink-darker, .8), rgba($pink-lighter, 0.8));
    }
}


@media only screen and (min-width: 1024px) {
    .wrapper {
        width: 100%;
        max-width: 102.4rem;

        .explore_section {
            .title_explore {
                font-size: 4rem;
            }
        }

        .info_section {
            height: fit-content;
            padding: 0 6rem 5rem 6rem;
            .info_box {
                flex-direction: row;
            }
        }

        .restaurant_section {
            .restaurant_box {
                flex-direction: row;
                gap: 3rem;
                flex-wrap: wrap;

                .restaurant_card {
                    min-width: 46.2rem;
                    
                    .restaurant_link {
                       width: 100%;

                       .img_restaurant_box {
                        max-width: 49rem;
                       }
                    }
                }
            }
        }

        .footer {
            display: flex;
            flex-direction: row-reverse;
            gap: 2rem;
            justify-content: end;

            .footer_logo_box {
                margin-left: 6rem;
            }

            .footer_link_box {
                display: flex;
                gap: 2rem;
                align-items: center;
            }

            .link_mention {
                margin-left: 2rem;
            }
        }
    }
}
